body, html{
    display: grid;
    place-items: center;
}

img{
    width: 550px;
    max-width: 100%;
}

span{
    font-weight: bold;
}

ul{
    list-style: none;
    max-width: 90%;
}

li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li p{
    max-width: 50%;
}

li:nth-last-child(1){
    flex-direction: column;
    max-width: 100%;
    height: fit-content;
}

#info{
    font-size: 150%;
    padding: 0 3%;
    margin: 0 auto;
}

button{
    background-color: inherit;
    border: none;
    padding: 1.5% 1%;
    border-radius: 5px;
}

button:hover{
    background-color: #ddd;
    cursor: pointer;
}

i{
    font-size: 1.8em;
}

@media (min-width: 770px) and (max-width: 1024px) {
    #info{
        font-size: 120%;
    }

    img{
        width: 450px;
    }
}

@media (max-width: 769px) {
    #info{
        font-size: 110%;
    }
    
    img{
        width: 350px;
    }
    button:hover{
        background-color: inherit;
    }
}